body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Lucida Grande", "Helvetica", sans-serif;
}


/* LAYOUT UTILS */

.flex {
  display: -webkit-flex;
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row-between {
  flex-direction: row;
  justify-content: space-between;
}

.flex-full {
  flex: 1;
}


/* HEADER */

.site-header {
  flex: 0;
  padding: 4px 0px;
  border-bottom: 2px solid #ccc;
  background-color: #eee;
}

.site-header>*:first-child {
  margin-left: 12px;
}

.site-header h1 {
  font-size: 24px;
}


/* CONTENT */

.content {
  padding: 4px 0;
  margin: 0 auto;
  max-width: 720px;
}


/* ROOM LIST */

.room-list {
  width: 100%;
  font-size: 18px;
}

.room-list th {
  text-align: left;
}

.room-list td {
  padding: 10px 0px;
}

.room-list td button {
  font-size: 18px;
}


/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-content ul li {
  font-size: 180%;
  padding-bottom: 20px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.title {
  padding-left: 20px;
}